<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>OH! last night</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav">
    <h3>oh! Last Night..</h3>
  </div>
 <!-- <%= link_to "New Post", new_post_path %> -->
 <!-- <%= link_to "Home", root_path %> -->
<%= yield %>

</body>
</html>
